@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
body
{
    margin: 0;
    padding: 0;
    background: #a2f78d;
    /* opacity: .5 ; */
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    width: 100%;

}
.bubbles
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bubbles li
{
position: absolute;
list-style: none;
display: block;
width: 20px;
height: 20px;
background: rgba(18, 173, 42);
animation: animate 25s linear infinite;
bottom: -150px;
}
.bubbles li:nth-child(1)
{
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 18s;
}
.bubbles li:nth-child(2)
{
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}
.bubbles li:nth-child(3)
{
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.bubbles li:nth-child(4)
{
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 18s;
}
.bubbles li:nth-child(5)
{
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0;
}
.bubbles li:nth-child(6)
{
    left: 70%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.bubbles li:nth-child(7)
{
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.bubbles li:nth-child(8)
{
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
}
.bubbles li:nth-child(9)
{
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
}
.bubbles li:nth-child(10)
{
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.card
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card .instruct
{
    text-align: center;

}
.card .front
{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 500px;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card:hover .front
{
    transform: rotateX(-180deg);
}
.card .back
{
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 400px;
    height: 500px;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.card .back:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.card:hover .back
{
    transform: rotateX(0deg);
}
.card .back .details
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card .back .details h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card .back .details h2 span
{
    color: #a7a7a7;
    font-size: 16px;
}
.social-icons
{
    padding: 10px 0;

}
.social-icons a
{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;

}
.social-icons a .fa
{
    line-height: 36px;

}
.social-icons a:hover
{
    background: rgba(18, 173, 42);;

}

@keyframes animate
{
    0%
    {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%
    {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}